*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
/hs_err_pid5500.log
/sh.exe.stackdump
firebasePush/build/
coreLogger/build/
coreUtil/build/